* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1400px;
    margin: 0 auto;
    height: 100vh;
}

.error {
    color: #000000;
    background-color: #ffbe42;
    padding: 15px 0;
    /*border: 1px solid dimgray;*/
    border-radius: 50px;
    width: 500px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.error__header, .error__content {
    height: 50%;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error__code {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.error__message {
    font-size: 20px;
    text-align: center;
    word-wrap: normal;
}