* {
    box-sizing: border-box;
    margin: 0;
}

.wrapper {
    height: max-content;
    width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}