* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.wrapper {
    margin: 0 auto;
    width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: max-content;
    max-height: max-content;
}

.articles {
    margin: 50px 0;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.articles:first-child {
    margin-top: 0;
}

.article {
    border: 1px #808080 solid;
    width: 1300px;
    height: max-content;
    margin: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.article input {
    color: #606060;
    font-size: 20px;
    font-weight: bold;
    width: 1200px;
}

.article textarea {
    color: #606060;
    resize: none;
    font-size: 18px;
    width: 1200px;
    height: 400px;
}

.article__header {
    width: inherit;
    height: 40px;
    padding: 15px 0 0 15px;
}

.article__title {
    font-size: 22px;
    font-weight: bold;
    word-wrap: normal;
}

.article__body {
    width: inherit;
    height: max-content;
    padding: 15px 0 0 15px;
}

.article__content {
    font-size: 18px;
    word-wrap: normal;
}

.hr {
    margin-top: 15px;
    margin-left: 15px;
    height: 1px;
    background-color: #808080;
    width: 98%;
}

.article__footer {
    display: flex;
    justify-content: space-between;
    width: inherit;
    height: 70px;
    padding: 15px 0 0 15px;
}

.article__author {
    font-weight: bold;
    font-size: 18px;
}

.article .update button{
    width: 160px;
    height: 25px;
    font-size: 16px;
}

.footer {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 1400px;
}

.table {
    margin: 20px auto;
    width: 1200px;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    height: 60px;
    border: 1px solid black;
}

.h {
    font-weight: bold;
    font-size: 22px;
}

.id, .tab-title, .content {
    border: 1px solid black;
    overflow: hidden;
    height: inherit;
    font-size: 18px;
    padding-top: 10px;
}

.id {
    padding-left: 10px;
    width: 30px;
    text-align: left;
}

.tab-title {
    width: 370px;
}

.content {
    width: 800px;
    padding-right: 10px;
}